<div class="mt-4 text-md uppercase text-center text-black tracking-tight leading-tight">FORGOT PASSWORD</div>

<!-- Sign in form -->
<form class="mt-4" [formGroup]="forgotForm" #forgotNgForm="ngForm">

    <!-- Email field -->
    <mat-form-field class="w-full pb-2">
        <mat-label class="text-black">Email </mat-label>
        <input class="text-black" id="Email" placeholder="Enter email address" matInput [formControlName]="'Email'">
        <mat-error class="text-red">
            Email is required
        </mat-error>
    </mat-form-field>

    <!-- Submit button -->
    <button class="theme-mat-button-large bg-gray-900 text-white rounded w-full mt-2" mat-flat-button
        [color]="'primary'" [disabled]="forgotForm.disabled" (click)="forgot()">
        <span *ngIf="!forgotForm.disabled">
            SUBMIT
        </span>
        <mat-progress-spinner *ngIf="forgotForm.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button [routerLink]="['/account/signin']" class="theme-mat-button-large border text-black  rounded w-full mt-2"
        mat-stroked-button>
        LOGIN
    </button>

</form>