
<div class="mt-4 text-md uppercase text-center text-black tracking-tight leading-tight">Login to Account</div>
        <!-- Sign in form -->
        <form class="mt-4" [formGroup]="signInForm" #signInNgForm="ngForm">

            <!-- Email field -->
            <mat-form-field class="w-full pb-2">
                <mat-label class="text-black">Email </mat-label>
                <input class="text-black" id="Email" placeholder="Enter email address" matInput [formControlName]="'Email'">
                <mat-error>
                    Email is required
                </mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="w-full">
                <mat-label class="text-black">Password</mat-label>
                <input class="text-black" id="password" placeholder="Enter password" matInput type="password"
                    [formControlName]="'Password'" #passwordField>
                <button mat-icon-button type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error class="text-red">
                    Password is required
                </mat-error>
            </mat-form-field>

            <!-- Actions -->
            <div class="inline-flex items-center justify-between w-full">
                <a class="text-md font-medium text-primary-500 hover:underline"
                    [routerLink]="['/account/forgot']">Forgot
                    password?
                </a>
            </div>

            <!-- Submit button -->
            <button class="theme-mat-button-large bg-gray-900 text-white rounded w-full mt-2" mat-flat-button
                [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
                <span *ngIf="!signInForm.disabled">
                    LOGIN
                </span>
                <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
            <button [routerLink]="['/account/signup']"
                class="theme-mat-button-large border text-black rounded w-full mt-2" mat-stroked-button>
                REGISTER
            </button>

        </form>