<div class="dash-account h-screen ">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5  dark:bg-gray-900">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a [routerLink]="['/dashboard/overview']" class="flex items-center">
                <img src="../../assets/logo.png" class="w-48" alt="Flowbite Logo" />
            </a>
            <div *ngIf="user" (click)="handleRefresh()" class="flex items-center md:order-2">
                <button type="button"
                    class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                    <img class="w-8 h-8 rounded-full" [src]="user.Photo" alt="">
                </button>
            </div>
        </div>
    </nav>
    <div class="absolute inset-0 flex flex-col mt-24 min-w-0 overflow-auto">
        <div class="flex flex-col">
            <div class="flex flex-col flex-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>