<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6">
        <div class="flex flex-row sm:flex-row flex-auto sm:items-center min-w-0">
            <div class="flex items-center pr-2 sm:mt-0 sm:mr-2 space-x-3">
                <mat-icon [routerLink]="['../overview']"  class="text-white" svgIcon="heroicons_outline:home"></mat-icon>
            </div>
            <div class="flex flex-auto items-center mr-4 min-w-0">
                <input type="text" id="default-input" #searchInput (keyup)="onSearchPassword(searchInput.value)" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="flex items-center sm:mt-0 sm:ml-2 space-x-3">
                <button (click)="addPassword()"
                    class="bg-white w-full hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded ">
                    ADD
                </button>
            </div>
        </div>
    </div>

    <div class="flex-auto overflow-auto -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div (click)="viewPassword(password)" *ngFor="let password of passwordLists; let i = index; trackBy: trackByFn"
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 w-full min-w-0">
                <div class="flex flex-col flex-auto p-6 bg-card  rounded ">
                    <div class="grid grid-cols-3 gap-4">
                        <div class="col-span-2 ">
                            <div class="text-gray-800 font-semibold">
                                {{password.Title | uppercase}}
                            </div>
                            <div class="text-gray-500 pt-2 truncate">
                                Email: {{password.Email}}
                            </div>

                        </div>
                        <div class="">
                            <div *ngIf="password.Url.includes('facebook')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/733/733547.png">
                            </div>
                            <div *ngIf="password.Url.includes('apple')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/888/888841.png">
                            </div>
                            <div *ngIf="password.Url.includes('netflix')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/732/732228.png">
                            </div>
                            <div *ngIf="password.Url.includes('google')||password.Url.includes('gmail')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/300/300221.png">
                            </div>
                            <div *ngIf="password.Url.includes('instagram')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png">
                            </div>
                            <div *ngIf="password.Url.includes('twitter')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/733/733579.png">
                            </div>
                            <div *ngIf="password.Url.includes('snapshot')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/1409/1409941.png">
                            </div>
                            <div *ngIf="password.Url.includes('tiktok')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/3046/3046120.png">
                            </div>
                            <div *ngIf="password.Url.includes('microsoft')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/732/732221.png">
                            </div>
                            <div *ngIf="password.Url.includes('dropbox')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/3291/3291668.png">
                            </div>
                            <div *ngIf="password.Url.includes('ebay')">
                                <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/888/888848.png">
                            </div>
                            <div [innerHtml]="getTitle(password)">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>